*.iml
.gradle
.idea

schemas
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
app/keystore
app/product

app/src/develop/google-services.json
app/src/product/google-services.json
app/src/develop/res/values/credential.xml
app/src/product/res/values/credential.xml