*.iml
.gradle
.idea

schemas
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild

app/src/debug/google-services.json
app/src/main/google-services.json
app/src/release/google-services.json